<ion-header>
  <ion-toolbar>
    <ion-title>{{ profesorActual.nombre ? profesorActual.nombre + ' - Profesor' : 'Profesor' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="profesorActual">
    <ion-list *ngIf="profesorActual.clases && profesorActual.clases.length > 0; else noClasses">
      <ion-item-group *ngFor="let clase of profesorActual.clases">
        <ion-item-divider>
          {{ clase.nombre }}
        </ion-item-divider>
        <ion-item *ngFor="let seccion of clase.secciones">
          <ion-label>Sección {{ seccion }}</ion-label>
          <ion-button (click)="generarCodigoQR(clase.nombre, seccion)">Generar QR</ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ng-template #noClasses>
      <p>El profesor no tiene clases asignadas.</p>
    </ng-template>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button [routerLink]="['/home']"><ion-icon name="exit-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div>
    <ion-img src="/assets/icon/logo.png"></ion-img>
  </div>

</ion-content>