<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Alumno </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="startScan()" color="dark">
    Escanear
  </ion-button>

  <ion-button expand="full" (click)="stopScan()" color="warning" *ngIf="scanResult">
    Detener Escaneo
  </ion-button>

  <video #video [hidden]="!scanActive" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Codigo QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button [routerLink]="['/home']"><ion-icon name="exit-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <div>
    <ion-img src="/assets/icon/logo.png"></ion-img>
  </div>
</ion-fab>